@import "../../variables";
@import "../../mixins";
@import "../../responsive";
@import "../../static";
header{
    background-color: #fff;
    .header-row{
        height:70px;
        .logo-container{
            .logo{
                max-width: 208px;
                bottom: 3px;
            }
        }
    }
    .auth-btn{
        @include radius(15px);
        padding:5px;
        border:solid 1px $primary-color;
        min-width: 108px;
        height: 28px;
        line-height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
         font-size: 14px;
         &.signin-btn{
             color: $primary-color;
             &:hover{
                 background-color:$primary-color;
                 color: #fff; 
             }
         }
         &.signup-btn{
            color: #fff;
            background-color: $primary-color;
            @include box-shadow(0px 2px 6px 0px rgb(0 0 0 / 22%));
            &:hover{
                background-color:transparentize($primary-color,0.2);
            }
        }
    }
}
