@import "../../variables";
@import "../../mixins";
@import "../../responsive";
@import "../../static";

// footer

.fc-row{
    display: flex;
    align-items: center;
}
.footer-section{
    background-color: $dark-color-two;
    .credits{
        padding: 5px;
        color: #fff;
        font-size: 14px;
        .container{
            border-top: solid 1px #ccc;
            padding: 20px 0;
        }
    }
    .footer-container{
        padding: 60px 15px;
        color: $dark-color;
        .qlinks{
            h2{
                font-size: 22px;
                font-weight: bold;
                color: #fff;
            }
            ul{
                padding: 0;
                line-height: 30px;
                margin-bottom: 0!important;
                li{
                    list-style: none;
                    margin-bottom: 7px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        padding: 5px 0;
                        font-size: 18px;
                        @include transitionmd;
                        &:hover{
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        .contact-col{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 0px;
            h2{
                font-size: 22px;
                margin-bottom: 22px;
                font-weight: bold;
                color: #fff;
            }
            .logo {
                max-width: 200px;
                margin-bottom: 15px;
            }
            a{
                &:last-child{
                    .logo{
                        margin-bottom: 0!important;
                    }
                    
                }
                
                img{
                    @include transitionmd;
                }
                &:hover{
                    img{
                        opacity: .7;
                    }
                }
                
            }
            
        }
        
    }
    .social-links{
        a{
            &:hover{
                img{
                    opacity: .6;
                }
                
            }
            img{
                margin-left: 30px;
                transform: scale(.8);
    
            }
        }

    }
}

//footer END