<footer class="footer-section mt-5">
    <div class="container footer-container">
        <div class="row fc-row">

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3 qlinks">
                        <ul>
                            <li><a class="" aria-current="page" routerLink="/signin">Terms of Service</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Privacy Policy</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 qlinks">
                        <ul>
                            <li><a class="" aria-current="page" routerLink="/signin">Contact Us</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Invest Now</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Careeers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 qlinks">
                        <ul>
                            <li><a class="" aria-current="page" routerLink="/signin">About us</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">News</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 qlinks">
                        <ul>
                            <li><a class="" aria-current="page" routerLink="/signup">User Sign up</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Driver Sign up</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Merchant Sign up</a></li>
                        </ul> 
                    </div>
                </div>
            </div>
            <div class="col-md-3 contact-col d-flex flex-column align-items-end">
                <a href="#"><img src="../assets/images/ios.png" alt="Pumpkinkart" class="w-100 logo position-relative"/></a>
                <a href="#"><img src="../assets/images/gplay.png" alt="Pumpkinkart" class="w-100 logo position-relative"/></a>
            </div>
        </div>
    </div>
    <div class="credits d-flex  align-items-center">
        <div class="container d-flex  align-items-center justify-content-between">
            <span class="cright">Copyright @ 2022 Pumpkin Kart</span>
            <span class="social-links d-flex">
                <a href="#"><img src="../../assets/images/fb.png" alt=""/></a>
                    <a href="#"><img src="../../assets/images/instagram.png" alt=""/></a>
                    <a href="#"><img src="../../assets/images/playstore.png" alt=""/></a>
                    <a href="#"><img src="../../assets/images/rss-symbol.png" alt=""/></a>
                    <a href="#"><img src="../../assets/images/twitter.png" alt=""/></a>
                    <a href="#"><img src="../../assets/images/youtube.png" alt=""/></a>
            </span>
        </div>
    </div>
</footer>