<footer class="footer-section   mt-5">
    <div class="container footer-container">
        <div class="row">
            <div class="col-md-3 contact-col">
                <h2>Get in touch</h2>
                <img src="../assets/images/logo.png" alt="Pumpkinkart" class="w-100 logo position-relative"/>
                <div class="footer-social">
                    
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3 qlinks">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a class="" aria-current="page" routerLink="/signin">FAQ</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Terms of Service</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Privacy Policy</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Delivery Locations</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 qlinks">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a class="" aria-current="page" routerLink="/signin">FAQ</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Terms of Service</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Privacy Policy</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Delivery Locations</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 qlinks">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a class="" aria-current="page" routerLink="/signin">FAQ</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Terms of Service</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Privacy Policy</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Delivery Locations</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 qlinks">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a class="" aria-current="page" routerLink="/signin">FAQ</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Terms of Service</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Privacy Policy</a></li>
                            <li><a class="" aria-current="page" routerLink="/signin">Delivery Locations</a></li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="credits d-flex justify-content-center align-items-center">
        <div class="container d-flex justify-content-center align-items-center">Copyright @ 2022 Pumpkin Kart</div>
    </div>
</footer>