<section class="page-content mt-5">
    <div class="container">
        <div class="page-title text-center mb-5">Login</div>
        <div class="row login-form">
            <div class="col-md-6 fs-left text-center">
                <img src="../../../../assets/images/login.png" alt="" />
            </div>
            <div class="col-md-6 fs-right px-5">
                <div class="page-form">
                    <form>
                        <div class="mb-4 row">
                            <div class="col-md-12 mb-4">
                              <label for="" class="form-label">User Name</label>
                              <input type="text" class="form-control thm-fcontrol" id=""
                                placeholder="Enter your User Name.">
                                <span class="error">Please enter a valid User Name</span>
                            </div>
                            <div class="col-md-12 mb-4">
                              <label for="" class="form-label">Password</label>
                              <input type="password" class="form-control thm-fcontrol"
                                id="" placeholder="Enter your Password.">
                            </div>
                          </div>
                          <div class="error-block d-flex justify-content-center align-items-center">
                            Somethink went wrong
                          </div>
                          <div class="col-md-12 mb-4 button-row">
                            <button type="submit" class="btn thm-btn btn-submit w-100">SUBMIT</button>
                          </div>
                          <h3 class="soc-title f-password"><a href="signin.html">Forgot Password?</a></h3>
                          <h3 class="soc-title text-center soc-top">Don't have an account? <a href="user-signup.html">Sign Up</a></h3>
                          <h3 class="soc-title text-center soc-bottom">Login with social accounts</h3>
                          <div class="sauth-btn-row d-flex justify-content-center mb-4">
                            <button class="sbtn btfacebook"><img src="../../../../assets/images/face.png"></button>
                            <button class="sbtn btgoogle mx-3"><img src="../../../../assets/images/google.png"></button>
                            <button class="sbtn btlink"><img src="../../../../assets/images/linkedin.png"></button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>