<section class="inner-banner d-flex position-relative align-items-center justify-content-center">
    <img src="../../../../assets/images/login-inner.png" alt=""/>
    <div class="container position-absolute text-center">
        <h1>Login As User</h1>
        <span class="bread-crump"><a routerLink="/home">Home</a> / <span class="active">Login As User</span></span>
    </div>
</section>
<section class="page-content">
    <div class="container auth-container">
        <div class="row">
            <div class="col-md-5">
                <h2>User</h2>
                <ul class="list-content">
                    <li>Login or register with your name, mobile number, email or social media credentials</li>
                    <li>Provide your location details and get a list of stores nearby</li>
                    <li>Tap on the store nearby to you and tap on the items you need and place the order</li>
                    <li>Track the delivery and get notified as soon as delivery gets done</li>
                </ul>
            </div>
            <div class="col-md-7">
                <div class="auth-content">
                    <div class="auth-box">
                        <h2>Get Started</h2>
                        <div class="auth-form">
                            <form>
                                <div class="mb-4">
                                    <input type="text" class="form-control thm-fcontrol" id="" placeholder="Email or Phone No.">
                                  </div>
                                  <div class="mb-4">
                                    <input type="password" class="form-control thm-fcontrol" id="" placeholder="Password">
                                  </div>
                                  <div class="mb-3 auth-btnrow d-flex justify-content-end">
                                    <button class="btn thm-btn cancel ">Cancel</button>
                                    <button class="btn thm-btn btn-prim mx-3">Login</button>
                                 </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
