<section class="page-content mt-5 pt-5">

    <div class="container mb-5 pb-5">
        <div class="page-title text-center mb-5">News</div>
        <div class="row news-row mb-4">
            <div class="col-md-3 news-img">
                <img src="../../assets/images/news1.png" alt="" />
            </div>
            <div class="col-md-9 news-details">
                <h2 class="n-title">News</h2>
                <h2 class="n-caption"><a href="http://localhost:4200/newsdetails" >Tangentia Ventures funds
                    Toronto-based ethnic food delivery start-up</a></h2>
                <p>On October 14, 2021 – Pumpkin Kart, an upcoming
                    on-demand hyperlocal delivery startup focused on
                    ethnic food and groceries secured funding and
                    strategic partnership from Tangentia Ventures
                    the venture</p>
            </div>

        </div>
        <div class="row news-row mb-4">
            <div class="col-md-3 news-img">
                <img src="../../assets/images/news1.png" alt="" />
            </div>
            <div class="col-md-9 news-details">
                <h2 class="n-title">News</h2>
                <h2 class="n-caption"><a href="http://localhost:4200/newsdetails">Tangentia Ventures funds
                    Toronto-based ethnic food delivery start-up</a></h2>
                    <p>On October 14, 2021 – Pumpkin Kart, an upcoming
                        on-demand hyperlocal delivery startup focused on
                        ethnic food and groceries secured funding and
                        strategic partnership from Tangentia Ventures
                        the venture </p>
            </div>

        </div>
        <div class="row news-row mb-4">
            <div class="col-md-3 news-img">
                <img src="../../assets/images/news1.png" alt="" />
            </div>
            <div class="col-md-9 news-details">
                <h2 class="n-title">News</h2>
                <h2 class="n-caption"><a href="http://localhost:4200/newsdetails">Tangentia Ventures funds
                    Toronto-based ethnic food delivery start-up</a></h2>
                    <p>On October 14, 2021 – Pumpkin Kart, an upcoming
                        on-demand hyperlocal delivery startup focused on
                        ethnic food and groceries secured funding and
                        strategic partnership from Tangentia Ventures
                        the venture</p>
            </div>

        </div>
    </div>
</section>