
      <section class="page-content mt-5">
        <div class="container">
          <div class="page-title text-center mb-5">Invest Now</div>
          <div class="row">
            <div class="col-md-4 fs-left">
              <img src="../../assets/images/contact.png" alt=""/>

            </div>
            <div class="col-md-8 fs-right px-5">
              <div class="page-form">
                <form>
                  <div class="mb-4 row">
                    <div class="col-md-6 mb-4">
                      <label for="" class="form-label">First Name</label>
                      <input type="text" class="form-control thm-fcontrol" id="" placeholder="Enter your first name.">
                    </div>
                    <div class="col-md-6 mb-4">
                      <label for="" class="form-label">Last Name</label>
                      <input type="text" class="form-control thm-fcontrol" id="" placeholder="Enter your last name.">
                    </div>
                    <div class="col-md-6 mb-4">
                      <label for="" class="form-label">Email</label>
                      <input type="email" class="form-control thm-fcontrol" id="" placeholder="Enter your email.">
                    </div>
                    <div class="col-md-6 mb-4">
                      <label for="" class="form-label">Phone</label>
                      <div class="inline-select d-flex">
                        <select class="form-control thm-fcontrol">
                          <option>+91</option>
                          <option>+91</option>
                        </select>
                        <input type="phone" class="form-control thm-fcontrol" id="" placeholder="Enter your phone no.">
                      </div>
                      
                    </div>
                    <div class="col-md-12 mb-4">
                      <label for="" class="form-label">Message</label>
                      <textarea class="form-control thm-fcontrol" id="" rows="3" placeholder="Enter your first message." style="height:150px"></textarea>
                    </div>
                    <div class="col-md-12 mb-4 button-row">
                      <button type="submit" class="btn thm-btn btn-submit w-100">SUBMIT</button>
                    </div>

                  </div>
                </form>
              </div>
             
            </div>
          </div>
        </div>
      </section>