/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@media only screen and (max-width: 575px) {
  .logo-container, .nav-container {
    display: flex !important;
    justify-content: center !important;
    padding: 8px 0px !important;
  }
  .header-row {
    height: auto !important;
  }
  body header .header-row .logo-container .logo {
    max-width: 245px !important;
    bottom: 0;
    margin-top: 8px;
  }
}

/* Importing font */
body {
  font-family: 'Outfit', sans-serif;
}

body .btn-link {
  border: none;
  color: #ff5b13;
  text-decoration: none;
  background: transparent;
}

body .btn-link:focus, body .btn-link:focus-visible {
  outline: none;
}

body .btn-link:hover {
  text-decoration: underline;
  color: #ff5b13;
}

body a img {
  -webkit-transition: all .2s ease-out;
  transition: all .3s ease-out;
}

body a:hover img {
  opacity: .8;
}

body button {
  outline: none;
}

body button:focus, body button:focus-visible {
  outline: none;
}

body .list-content li {
  margin-bottom: 20px;
  list-style: none;
  position: relative;
}

body .list-content li::after {
  content: '';
  position: absolute;
  top: 7px;
  left: -30px;
  width: 12px;
  height: 12px;
  border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  background: rgba(255, 91, 19, 0.6);
}

body .aut-sep {
  position: relative;
  border-bottom: solid 1px #ccc;
  width: 100%;
  display: flex;
  justify-content: center;
}

body .aut-sep span {
  position: absolute;
  display: inline-block;
  background-color: #fff;
  min-width: 70px;
  text-align: center;
  top: -13px;
  font-size: 19px;
  color: #565353;
}

body .cancel {
  color: #ff5b13;
}

body .cancel:hover {
  background-color: #ff5b13;
  color: #fff;
}

body .btn-prim {
  color: #fff;
  background-color: #ff5b13;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.22) !important;
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.22) !important;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.22) !important;
}

body .btn-prim:hover {
  background-color: rgba(255, 91, 19, 0.8) !important;
}

body .page-title {
  font-size: 44px;
  font-weight: 900;
}

body .details p {
  padding-bottom: 24px;
}

body .banner-section .carousel-indicators, body .carousel-section .carousel-indicators, body .feature-scroll .carousel-indicators, body .aseenon-scroll .carousel-indicators {
  bottom: 50px;
}

body .banner-section .carousel-indicators button, body .carousel-section .carousel-indicators button, body .feature-scroll .carousel-indicators button, body .aseenon-scroll .carousel-indicators button {
  width: 12px;
  height: 12px;
  padding: 0;
  border-top: none;
  border-bottom: none;
  color: #ff5b13;
  border-radius: 50%;
  background-color: #fff !important;
  opacity: 1;
}

body .banner-section .carousel-indicators button.active, body .carousel-section .carousel-indicators button.active, body .feature-scroll .carousel-indicators button.active, body .aseenon-scroll .carousel-indicators button.active {
  background-color: #ff5b13 !important;
  width: 26px;
  border-radius: 11px !important;
}

body .banner-section .carousel-control-prev-icon, body .banner-section .carousel-control-next-icon, body .carousel-section .carousel-control-prev-icon, body .carousel-section .carousel-control-next-icon, body .feature-scroll .carousel-control-prev-icon, body .feature-scroll .carousel-control-next-icon, body .aseenon-scroll .carousel-control-prev-icon, body .aseenon-scroll .carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

body .banner-section .carousel-control-prev, body .carousel-section .carousel-control-prev, body .feature-scroll .carousel-control-prev, body .aseenon-scroll .carousel-control-prev {
  left: -31px;
}

body .banner-section .carousel-control-next, body .carousel-section .carousel-control-next, body .feature-scroll .carousel-control-next, body .aseenon-scroll .carousel-control-next {
  right: 0;
}

body .carousel-section .carousel-indicators, body .feature-scroll .carousel-indicators, body .aseenon-scroll .carousel-indicators {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  bottom: 58px;
}

body .carousel-section .carousel-indicators button, body .feature-scroll .carousel-indicators button, body .aseenon-scroll .carousel-indicators button {
  background-color: #DFE0E2 !important;
}

body .feature-scroll .ss-col h2, body .aseenon-scroll .ss-col h2 {
  font-weight: 800;
}

body .feature-scroll .ss-col img, body .aseenon-scroll .ss-col img {
  width: calc(100% - 50px);
  margin-bottom: 28px;
}

body .feature-scroll .ss-col .fm-item, body .aseenon-scroll .ss-col .fm-item {
  padding: 0 30px;
  text-align: center;
}

body .feature-scroll .ss-col .btn-link, body .aseenon-scroll .ss-col .btn-link {
  font-size: 1.3125rem;
}

body .feature-scroll .carousel-indicators, body .aseenon-scroll .carousel-indicators {
  bottom: -25px !important;
  justify-content: center !important;
}

body .section-title {
  font-size: 52px;
  font-weight: bold;
  color: #0E0E0F;
}

body .qt, body .qt-r {
  font-size: 31px;
  color: #000;
  font-weight: 900;
  padding: 0 7px;
  transform: skew(10deg, 10deg);
  display: inline-block;
}

body .qt-r {
  transform: skew(336deg, 357deg) !important;
}

body .aseenon-scroll .fm-item {
  padding: 0 20px;
}

body .aseenon-scroll .fm-item p {
  color: #767676;
  font-size: 1.25rem;
}

body .aseenon-scroll .fm-item img {
  width: 200px;
  max-width: 100%;
}

body .aseenon-scroll .fm-item img.trn-logo {
  width: 134px;
}

body .aseenon-scroll .fm-item img.tc-logo {
  width: 240px;
  margin-top: 30px;
}

body .aseenon-scroll .fm-item img.ret-logo {
  width: 102px;
  margin-top: 12px;
}

body .inner-banner img {
  width: 100%;
  max-width: 100%;
}

body .inner-banner .container {
  color: #fff;
}

body .inner-banner .container h1 {
  font-size: 4.125rem;
}

body .inner-banner .container .bread-crump {
  font-size: 20px;
  font-weight: bold;
}

body .inner-banner .container .bread-crump .active {
  font-weight: normal;
}

body .inner-banner .container .bread-crump a {
  color: #fff;
  text-decoration: none;
}

body .inner-banner .container .bread-crump a:hover {
  color: #fff;
  opacity: .8;
}

body .page-content p {
  color: #767676;
  font-size: 1.25rem;
  line-height: 2rem;
}

body .auth-container .list-content {
  padding-right: 20px;
}

body .auth-container .auth-box {
  padding: 20px;
  border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.09);
  padding: 48px;
}

body .auth-container .auth-box h2 {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 30px;
}

body .auth-container .auth-box .thm-fcontrol {
  border: solid #d7d7d7 1px;
  height: 48px;
  border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  padding: 12px 18px;
}

body .auth-container .auth-box .thm-fcontrol::placeholder {
  color: #cbcbcb;
}

body .auth-container button {
  padding: 5px 20px;
  height: 43px;
  font-weight: 500;
  font-size: 18px;
  min-width: 130px;
  border-radius: 7px !important;
  -moz-border-radius: 7px !important;
  -webkit-border-radius: 7px !important;
}

body .auth-container button.cancel {
  border: solid 1px #ff5b13;
}

body .auth-container button.btn-prim {
  background: #ff5b13;
  border: solid 1px #ff5b13;
  color: #fff;
}

body .auth-container {
  padding: 122px 0 20px;
}

body .auth-container .auth-content {
  padding: 0 108px 0 55px;
}

body .auth-container .auth-content .sub-title {
  font-weight: 700;
  font-size: 28px;
}

body .auth-container .auth-content .soc-title {
  font-size: 18px;
  color: #565353;
}

body .auth-container .auth-content .soc-title a {
  color: #ff5b13;
  text-decoration: none;
}

body .auth-container .auth-content .soc-title a:hover {
  text-decoration: underline;
}

body .auth-container .btfacebook {
  background-color: #3b5999;
}

body .auth-container .btgoogle {
  background-color: #dd4b39;
}

body .auth-container .sbtn {
  min-width: 200px;
  padding: 5px;
  border: none;
  -webkit-transition: all .2s ease-out;
  transition: all .3s ease-out;
  font-weight: normal;
  color: #fff;
  font-size: 15px;
}

body .auth-container .sbtn.btgoogle img {
  position: relative;
  bottom: 1px;
}

body .auth-container .sbtn img {
  width: 20px;
  margin-right: 2px;
}

body .auth-container .sbtn:hover {
  opacity: .7;
}

body .auth-container .sbtn:focus, body .auth-container .sbtn:focus-visible {
  outline: none;
}

body header {
  background-color: #fff;
  box-shadow: 0px 1px 19px 4px rgba(0, 0, 0, 0.07);
}

body header .header-row {
  height: 70px;
}

body header .header-row .logo-container .logo {
  max-width: 208px;
  bottom: 3px;
}

body header .auth-btn {
  border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  padding: 5px;
  border: solid 1px #ff5b13;
  min-width: 108px;
  height: 28px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

body header .auth-btn.signin-btn {
  color: #ff5b13;
}

body header .auth-btn.signin-btn:hover {
  background-color: #ff5b13;
  color: #fff;
}

body header .auth-btn.signup-btn {
  color: #fff;
  background-color: #ff5b13;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.22) !important;
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.22) !important;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.22) !important;
}

body header .auth-btn.signup-btn:hover {
  background-color: rgba(255, 91, 19, 0.8);
}

body .footer-section {
  background-color: #191919;
}

body .footer-section .credits {
  padding: 5px;
  color: #fff;
  font-size: 14px;
}

body .footer-section .credits .container {
  border-top: solid 1px #ccc;
  padding: 20px 0;
}

body .footer-section .footer-container {
  padding: 80px 15px;
  color: #0E0E0F;
}

body .footer-section .footer-container .qlinks h2 {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

body .footer-section .footer-container .qlinks ul {
  padding: 0;
  line-height: 30px;
}

body .footer-section .footer-container .qlinks ul li {
  list-style: none;
  margin-bottom: 7px;
}

body .footer-section .footer-container .qlinks ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  font-size: 18px;
  -webkit-transition: all .2s ease-out;
  transition: all .3s ease-out;
}

body .footer-section .footer-container .qlinks ul li a:hover {
  color: #ff5b13;
}

body .footer-section .footer-container .contact-col {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

body .footer-section .footer-container .contact-col h2 {
  font-size: 22px;
  margin-bottom: 22px;
  font-weight: bold;
  color: #fff;
}

body .footer-section .footer-container .contact-col .logo {
  max-width: 200px;
  margin-bottom: 15px;
}

body .footer-section .footer-container .contact-col a img {
  -webkit-transition: all .2s ease-out;
  transition: all .3s ease-out;
}

body .footer-section .footer-container .contact-col a:hover img {
  opacity: .7;
}

body .footer-section .social-links a:hover img {
  opacity: .6;
}

body .footer-section .social-links a img {
  margin-left: 30px;
  transform: scale(0.8);
}

body .banner-section, body .carousel-section {
  background: #fff;
}

body .banner-section .carousel-indicators button, body .carousel-section .carousel-indicators button {
  width: 12px;
  height: 12px;
  padding: 0;
  border-top: none;
  border-bottom: none;
  color: #ff5b13;
  border-radius: 50%;
}

body .banner-section .carousel-indicators button.active, body .carousel-section .carousel-indicators button.active {
  background-color: #ff5b13;
  width: 26px;
  border-radius: 11px !important;
}

body .m-row h2 {
  font-weight: bold;
  color: #0E0E0F;
  font-size: 1.5rem;
}

body .m-row p {
  color: #767676;
  font-size: 1.25rem;
  padding-right: 112px;
}

body .m-row .mr-right img {
  max-width: 695px;
}

body .Banner-caption {
  color: #fff;
  z-index: 9999;
  font-size: 3.5rem;
  top: 165px;
  width: 100%;
  font-weight: 600;
}

body .Banner-caption .container {
  line-height: 60px;
}

body .intro-btn {
  padding: 5px 44px;
  height: 52px;
  border: none;
  color: #fff;
  font-size: 17px;
  border-radius: 35px !important;
  -moz-border-radius: 35px !important;
  -webkit-border-radius: 35px !important;
  background-color: #ff5b13;
  align-items: center;
  transition: all ease-out 0.4s;
  background-color: #ff5b13;
  margin-top: 34px;
}

body .intro-btn:hover, body .intro-btn:focus, body .intro-btn:focus-visible {
  outline: none;
  background-color: rgba(255, 91, 19, 0.7);
  padding: 5px 50px;
}

body .feature-scroll .fm-item h2 {
  font-weight: bold;
  color: #0E0E0F;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

body .feature-scroll .fm-item p {
  color: #767676;
  font-size: 1.25rem;
}

body .app-download .ad-left img {
  max-width: 100%;
}

body .app-download p {
  color: #767676;
  font-size: 1.25rem;
  line-height: 1.625rem;
  margin-bottom: 2.25rem;
}

body .app-download h2 {
  color: #0E0E0F;
  font-size: 3.25rem;
  font-weight: bold;
  line-height: 4.125rem;
  margin-bottom: 1.875rem;
}

body .d-icons {
  width: 100%;
  max-width: 205px;
  height: fit-content;
  margin-right: 32px;
}

body .fs-left img {
  width: 100%;
}

body .page-form .btn-submit {
  color: #fff;
  background-color: #191919;
  padding: 10px 12px;
  border: solid 1px #191919;
  transition: all ease-out 0.4s;
}

body .page-form .btn-submit:hover {
  opacity: .8;
}

body .page-form .thm-fcontrol {
  height: 45px;
  border: solid 1px #F7F7F7;
  background-color: #F7F7F7;
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  transition: all ease-out 0.4s;
}

body .page-form .thm-fcontrol::placeholder {
  color: rgba(86, 83, 83, 0.5);
}

body .page-form .thm-fcontrol:focus {
  box-shadow: 0 0 0 0.25rem #ffe9e1;
}

body .page-form .inline-select select {
  width: 65px;
  border-radius: 3px 0 0 3px !important;
  -moz-border-radius: 3px 0 0 3px !important;
  -webkit-border-radius: 3px 0 0 3px !important;
  border-right: solid 3px #f1f1f1;
}

body .page-form .form-label {
  color: #565353;
}

body .mp-para {
  text-align: center;
}

body .card-shadow {
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
}

body .team-item .t-item {
  padding: 18px;
}

body .team-item .t-item img {
  border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  width: 165px;
  height: 165px;
  object-fit: cover;
  margin-bottom: 18px;
}

body .team-item .t-item h2 {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  color: #0E0E0F;
}

body .team-item .t-item h4 {
  color: #ff5b13;
  font-size: 20px;
}

body .news-row {
  border-top: solid 1px #e6e6e6;
  padding-top: 28px;
}

body .news-row .news-img img {
  width: 100%;
}

body .news-row .news-details .n-title {
  font-size: 1.375rem;
  color: #ff5b13;
}

body .news-row .news-details .n-caption {
  color: #565353;
  font-weight: bold;
  font-size: 1.5625rem;
}

body .news-row .news-details p a {
  color: #767676;
  text-decoration: none;
}

body .news-row .news-details p a:hover {
  color: #ff5b13;
}
