<section class="banner-section mb-2 position-relative">
  <ngb-carousel *ngIf="images" [interval]="1000">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/images/banner.png" alt="" class="main-banner
          w-100" />
      </div>
      <div class="Banner-caption position-absolute">
        <div class="container">
          Experiance Ethinic Food<br/>with <strong>Pumpkin Kart</strong>
            <button class="caption-link d-flex intro-btn">EXPLORE NOW</button>
          </div>

        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../../assets/images/banner.png" alt="" class="main-banner
            w-100" />
        </div>
        <div class="Banner-caption position-absolute">
          <div class="container">
            Experiance Ethinic Food<br/>with <strong>Pumpkin Kart</strong>
              <button class="caption-link d-flex intro-btn">EXPLORE NOW</button>
            </div>


          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/images/banner.png" alt=""
              class="main-banner w-100" />
          </div>
          <div class="Banner-caption position-absolute">
            <div class="container">
              Experiance Ethinic Food<br/>with <strong>Pumpkin Kart</strong>
                <button class="caption-link d-flex intro-btn">EXPLORE NOW</button>
              </div>


            </div>
          </ng-template>
        </ngb-carousel>

      </section>
      <section class="carousel-section mb-5">
        <div class="container">
          <ngb-carousel *ngIf="images" [interval]="1000">
            <ng-template ngbSlide>
              <div class="m-plan">
                <div class="row m-row">
                  <div class="col-md-6 mr-left d-flex flex-column
                    align-items-start justify-content-center">
                    <h2>Meal Plan</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                      centuries,</p>
                    <button class="btn-link px-0">View More</button>
                  </div>
                  <div class="col-md-6 mr-right d-flex justify-content-center
                    align-items-center">
                    <img src="../../../assets/images/food.png" alt="" />
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="m-plan">
                <div class="row m-row">
                  <div class="col-md-6 mr-left d-flex flex-column
                    align-items-start justify-content-center">
                    <h2>Meal Plan</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                      centuries,</p>
                    <button class="btn-link px-0">View More</button>
                  </div>
                  <div class="col-md-6 mr-right d-flex justify-content-center
                    align-items-center">
                    <img src="../../../assets/images/food.png" alt="" />
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="m-plan">
                <div class="row m-row">
                  <div class="col-md-6 mr-left d-flex flex-column
                    align-items-start justify-content-center">
                    <h2>Meal Plan</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                      centuries,</p>
                    <button class="btn-link px-0">View More</button>
                  </div>
                  <div class="col-md-6 mr-right d-flex justify-content-center
                    align-items-center">
                    <img src="../../../assets/images/food.png" alt="" />
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-carousel>

        </div>

      </section>
      <section style="margin-top:500px;">
        <carousel
          [cellWidth]="'100%'"
          [arrowsOutside]="true"
          [autoplay]="true"
          [dots]="true"
          [loop]="true">
          <div class="carousel-cell">
            <div>Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.</div>
          </div>
          <div class="carousel-cell">
            <div>Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.</div>
          </div>
          <div class="carousel-cell">
            <div>Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.</div>
          </div><div class="carousel-cell">
            <div>Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.</div>
          </div>
          <div class="carousel-cell">
            <div>Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.</div>
          </div><div class="carousel-cell">
            <div>Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.</div>
          </div><div class="carousel-cell">
            <div>Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.</div>
          </div><div class="carousel-cell">
            <div>Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.</div>
          </div><div class="carousel-cell">
            <div>Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.</div>
          </div><div class="carousel-cell">
            <div>Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard
              dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It
              has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.</div>
          </div>
        </carousel>
      </section>
      <div class="container p-5" [class.active]="actvrl" (click)="clickactive()">
        This is the content
      </div>
