<section class="banner-section mb-2 position-relative">
  <ngb-carousel *ngIf="images" [interval]="3000">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/images/banner.png" alt="" class="main-banner
          w-100" />
      </div>
      <div class="Banner-caption position-absolute">
        <div class="container d-flex flex-column align-items-center">
          Experiance Ethinic Food<br/><span class="hline-second">with Pumpkin
              Kart</span>
            <button class="caption-link d-flex intro-btn">EXPLORE NOW</button>
          </div>

        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../../assets/images/banner.png" alt="" class="main-banner
            w-100" />
        </div>
        <div class="Banner-caption position-absolute">
          <div class="container d-flex flex-column align-items-center">
            Experiance Ethinic Food<br/><span class="hline-second">with Pumpkin
                Kart</span>
              <button class="caption-link d-flex intro-btn">EXPLORE NOW</button>
            </div>


          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/images/banner.png" alt=""
              class="main-banner w-100" />
          </div>
          <div class="Banner-caption position-absolute">
            <div class="container d-flex flex-column align-items-center">
              Experiance Ethinic Food<br/><span class="hline-second">with
                  Pumpkin Kart</span>
                <button class="caption-link d-flex intro-btn">EXPLORE NOW</button>
              </div>


            </div>
          </ng-template>
        </ngb-carousel>

      </section>
      <section class="carousel-section mb-5">
        <div class="container">
          <ngb-carousel *ngIf="images" [interval]="3300">
            <ng-template ngbSlide>
              <div class="m-plan">
                <div class="row m-row">
                  <div class="col-md-6 mr-left d-flex flex-column
                    align-items-start justify-content-center">
                    <h2>Meal Plan</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                      centuries,</p>
                    <button class="btn-link px-0">View More</button>
                  </div>
                  <div class="col-md-6 mr-right d-flex justify-content-center
                    align-items-center">
                    <img src="../../../assets/images/food.png" alt="" />
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="m-plan">
                <div class="row m-row">
                  <div class="col-md-6 mr-left d-flex flex-column
                    align-items-start justify-content-center">
                    <h2>Meal Plan</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                      centuries,</p>
                    <button class="btn-link px-0">View More</button>
                  </div>
                  <div class="col-md-6 mr-right d-flex justify-content-center
                    align-items-center">
                    <img src="../../../assets/images/food.png" alt="" />
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="m-plan">
                <div class="row m-row">
                  <div class="col-md-6 mr-left d-flex flex-column
                    align-items-start justify-content-center">
                    <h2>Meal Plan</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has survived not only five
                      centuries,</p>
                    <button class="btn-link px-0">View More</button>
                  </div>
                  <div class="col-md-6 mr-right d-flex justify-content-center
                    align-items-center">
                    <img src="../../../assets/images/food.png" alt="" />
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-carousel>

        </div>

      </section>
      <section class="feature-scroll mb-5 pb-5">
        <div class="container">
          <ngb-carousel *ngIf="images" [interval]="3600">
            <ng-template ngbSlide>
              <div class="row slide-set">
                <div class="col-4 ss-col">
                  <div class="fm-item">
                    <img src="../../../assets/images/f-img1.png" alt="" />
                    <h2>Become a<br/>Delivery Hero</h2>
                      <p>Be your own boss and make some extra cash by becoming a
                        delivery driver with Pumpkin Kart Register today.</p>
                      <button class="btn-link">Register now</button>
                    </div>
                  </div>
                  <div class="col-4 ss-col">
                    <div class="fm-item">
                      <img src="../../../assets/images/f-img2.png" alt="" />
                      <h2>Become our<br/>Merchant Partner</h2>
                        <p>Be your own boss and make some extra cash by becoming
                          a
                          delivery driver with Pumpkin Kart Register today.</p>
                        <button class="btn-link">Register now</button>
                      </div>
                    </div>
                    <div class="col-4 ss-col">
                      <div class="fm-item">
                        <img src="../../../assets/images/f-img3.png" alt="" />
                        <h2>Become an<br/>Affiliate</h2>
                          <p>Be your own boss and make some extra cash by
                            becoming a
                            delivery driver with Pumpkin Kart Register today.</p>
                          <button class="btn-link">Register now</button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="row slide-set">
                      <div class="col-4 ss-col">
                        <div class="fm-item">
                          <img src="../../../assets/images/f-img1.png" alt="" />
                          <h2>Become a<br/>Delivery Hero</h2>
                            <p>Be your own boss and make some extra cash by
                              becoming a
                              delivery driver with Pumpkin Kart Register today.</p>
                            <button class="btn-link">Register now</button>
                          </div>
                        </div>
                        <div class="col-4 ss-col">
                          <div class="fm-item">
                            <img src="../../../assets/images/f-img2.png" alt=""
                              />
                            <h2>Become our<br/>Merchant Partner</h2>
                              <p>Be your own boss and make some extra cash by
                                becoming a
                                delivery driver with Pumpkin Kart Register
                                today.</p>
                              <button class="btn-link">Register now</button>
                            </div>
                          </div>
                          <div class="col-4 ss-col">
                            <div class="fm-item">
                              <img src="../../../assets/images/f-img3.png"
                                alt="" />
                              <h2>Become an<br/>Affiliate</h2>
                                <p>Be your own boss and make some extra cash by
                                  becoming a
                                  delivery driver with Pumpkin Kart Register
                                  today.</p>
                                <button class="btn-link">Register now</button>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-carousel>
                    </div>
                  </section>
                  <section class="app-download mb-5">
                    <div class="container">
                      <div class="row ad-row">
                        <div class="col-md-6 ad-left">
                          <img src="../../../assets/images/mobile.png" alt="" />
                        </div>
                        <div class="col-md-6 ad-right d-flex flex-column
                          justify-content-center">
                          <h2>Download our<br/>Mobile App</h2>
                            <p>Ethnic Experience is just a click away. Order
                              your favourite food, grocery, alcohol and more.</p>
                            <div class="w-100 d-flex sd-buttons
                              justify-content-start">
                              <a href="#"> <img
                                  src="../../../assets/images/gplay.png" alt=""
                                  class="mr-2 d-icons" /></a>
                              <a href="#"><img
                                  src="../../../assets/images/ios.png" alt=""
                                  class="mr-2 d-icons" /></a>

                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="aseenon-scroll mb-5 pb-5">
                      <div class="container">
                        <h2 class="section-title mb-5">As seen on</h2>
                        <ngb-carousel *ngIf="images" [interval]="3300">
                          <ng-template ngbSlide>
                            <div class="row slide-set">
                              <div class="col-4 as-col">
                                <div class="fm-item text-center">
                                    <p><span class="qt">"</span>Be your own boss and make some extra cash
                                      by becoming a
                                      delivery driver with Pumpkin Kart Register
                                      today.<span class="qt-r">"</span></p>
                                      <img src="../../../assets/images/toronto.png" alt="" class="trn-logo" />
                                  </div>
                                </div>
                                <div class="col-4 as-col">
                                  <div class="fm-item text-center">
                                    <p><span class="qt">"</span>Be your own boss and make some extra cash
                                        by becoming a
                                        delivery driver with Pumpkin Kart Register
                                        today.<span class="qt-r">"</span></p>
                                        <img src="../../../assets/images/tc.png" class="tc-logo"
                                        alt="" />
                                    </div>
                                  </div>
                                  <div class="col-4 as-col">
                                    <div class="fm-item text-center">
                                      <p><span class="qt">"</span>Be your own boss and make some extra cash
                                          by becoming a
                                          delivery driver with Pumpkin Kart Register
                                          today.<span class="qt-r">"</span></p>
                                          <img src="../../../assets/images/retail.png" class="ret-logo"
                                          alt="" />
                                      </div>
                                    </div>
                                  </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                  <div class="row slide-set">
                                    <div class="col-4 as-col">
                                      <div class="fm-item text-center">
                                        <p><span class="qt">"</span>Be your own boss and make some extra cash
                                            by becoming a
                                            delivery driver with Pumpkin Kart Register
                                            today.<span class="qt-r">"</span></p>
                                            <img src="../../../assets/images/toronto.png" alt="" class="trn-logo"/>
                                        </div>
                                      </div>
                                      <div class="col-4 as-col">
                                        <div class="fm-item text-center">
                                          <p><span class="qt">"</span>Be your own boss and make some extra cash
                                              by becoming a
                                              delivery driver with Pumpkin Kart Register
                                              today.<span class="qt-r">"</span></p>
                                              <img src="../../../assets/images/tc.png" class="tc-logo"
                                              alt="" />
                                          </div>
                                        </div>
                                        <div class="col-4 as-col">
                                          <div class="fm-item text-center">
                                            <p><span class="qt">"</span>Be your own boss and make some extra cash
                                                by becoming a
                                                delivery driver with Pumpkin Kart Register
                                                today.<span class="qt-r">"</span></p>
                                                <img src="../../../assets/images/retail.png" class="ret-logo"
                                                alt="" />
                                            </div>
                                          </div>
                                        </div>
                                      </ng-template>
                                      <ng-template ngbSlide>
                                        <div class="row slide-set">
                                          <div class="col-4 as-col">
                                            <div class="fm-item text-center">
                                              <p><span class="qt">"</span>Be your own boss and make some extra cash
                                                  by becoming a
                                                  delivery driver with Pumpkin Kart Register
                                                  today.<span class="qt-r">"</span></p>
                                                  <img src="../../../assets/images/toronto.png" alt="" class="trn-logo"/>
                                              </div>
                                            </div>
                                            <div class="col-4 as-col">
                                              <div class="fm-item text-center">
                                                <p><span class="qt">"</span>Be your own boss and make some extra cash
                                                    by becoming a
                                                    delivery driver with Pumpkin Kart Register
                                                    today.<span class="qt-r">"</span></p>
                                                    <img src="../../../assets/images/tc.png" class="tc-logo"
                                                    alt="" />
                                                </div>
                                              </div>
                                              <div class="col-4 as-col">
                                                <div class="fm-item text-center">
                                                  <p><span class="qt">"</span>Be your own boss and make some extra cash
                                                      by becoming a
                                                      delivery driver with Pumpkin Kart Register
                                                      today.<span class="qt-r">"</span></p>
                                                      <img src="../../../assets/images/retail.png" class="ret-logo"
                                                      alt="" />
                                                  </div>
                                                </div>
                                              </div>
                                            </ng-template>
                                    </ngb-carousel>
                                  </div>
                                </section>
