<section class="banner-section mb-2 position-relative">
  <ngb-carousel *ngIf="images" [interval]="3000">
  <ng-template ngbSlide>
     <div class="picsum-img-wrapper">
        <img
           src="../../../assets/images/banner.png"
           alt=""
           class="main-banner w-100"
           />
     </div>
     <div class="Banner-caption position-absolute">
        <div class="container d-flex flex-column align-items-center">
           Experiance Ethinic Food<br /><span class="hline-second"
              >with Pumpkin Kart</span
              >
           <button class="caption-link d-flex intro-btn">EXPLORE NOW</button>
        </div>
     </div>
  </ng-template>
  <ng-template ngbSlide>
     <div class="picsum-img-wrapper">
        <img
           src="../../../assets/images/banner.png"
           alt=""
           class="main-banner w-100"
           />
     </div>
     <div class="Banner-caption position-absolute">
        <div class="container d-flex flex-column align-items-center">
           Experiance Ethinic Food<br /><span class="hline-second"
              >with Pumpkin Kart</span
              >
           <button class="caption-link d-flex intro-btn">EXPLORE NOW</button>
        </div>
     </div>
  </ng-template>
  <ng-template ngbSlide>
     <div class="picsum-img-wrapper">
        <img
           src="../../../assets/images/banner.png"
           alt=""
           class="main-banner w-100"
           />
     </div>
     <div class="Banner-caption position-absolute">
        <div class="container d-flex flex-column align-items-center">
           Experiance Ethinic Food<br /><span class="hline-second"
              >with Pumpkin Kart</span
              >
           <button class="caption-link d-flex intro-btn">EXPLORE NOW</button>
        </div>
     </div>
  </ng-template>
  </ngb-carousel>
</section>
<section class="carousel-section mb-5">
  <div class="container">
     <ngb-carousel *ngIf="images" [interval]="3300">
     <ng-template ngbSlide>
        <div class="m-plan">
           <div class="row m-row">
              <div
                 class="col-md-6 mr-left d-flex flex-column align-items-start justify-content-center"
                 >
                 <h2>Food Delivery</h2>
                 <p>
                  Choose from a variety of the best ethnic restaurants in town. Our long-distance delivery of up to 30km ensures that your favourite food is easily accessible.
                 </p>
                 <button class="btn-link px-0">View More</button>
              </div>
              <div
                 class="col-md-6 mr-right d-flex justify-content-center align-items-center"
                 >
                 <img src="../../../assets/images/food.png" alt="" />
              </div>
           </div>
        </div>
     </ng-template>
     <ng-template ngbSlide>
        <div class="m-plan">
           <div class="row m-row">
              <div class="col-md-6 mr-left d-flex flex-column align-items-start justify-content-center">
                 <h2>Grocery Delivery</h2>
                 <p>
                  Finding authentic and traditional ingredients is now hassle-free. Get your ethnic grocery delivered to your doorstep in just a click!
                 </p>
                 <button class="btn-link px-0">View More</button>
              </div>
              <div
                 class="col-md-6 mr-right d-flex justify-content-center align-items-center"
                 >
                 <img src="../../../assets/images/food.png" alt="" />
              </div>
           </div>
        </div>
     </ng-template>
     <ng-template ngbSlide>
        <div class="m-plan">
           <div class="row m-row">
              <div class="col-md-6 mr-left d-flex flex-column align-items-start justify-content-center">
                 <h2>Alcohol Delivery</h2>
                 <p>
                  Ordering alcohol has never been more convenient. Express or scheduled delivery, we got it all covered.
                 </p>
                 <button class="btn-link px-0">View More</button>
              </div>
              <div
                 class="col-md-6 mr-right d-flex justify-content-center align-items-center"
                 >
                 <img src="../../../assets/images/alchohol.png" alt="" />
              </div>
           </div>
        </div>
     </ng-template>
     <ng-template ngbSlide>
      <div class="m-plan">
         <div class="row m-row">
            <div class="col-md-6 mr-left d-flex flex-column align-items-start justify-content-center">
               <h2>Tiffin Delivery</h2>
               <p>
                Subscribe one time and get freshly prepared home-like food delivered to you every day. No more cooking!
               </p>
               <button class="btn-link px-0">View More</button>
            </div>
            <div
               class="col-md-6 mr-right d-flex justify-content-center align-items-center"
               >
               <img src="../../../assets/images/Tiffin Service.png" alt="" />
            </div>
         </div>
      </div>
   </ng-template>
   <ng-template ngbSlide>
    <div class="m-plan">
       <div class="row m-row">
          <div class="col-md-6 mr-left d-flex flex-column align-items-start justify-content-center">
             <h2>Party Store</h2>
             <p>
              Planning an office party or a personal gathering? Order your food, alcohol, and supplies at the Pumpkin Kart Party Store.
             </p>
             <button class="btn-link px-0">View More</button>
          </div>
          <div
             class="col-md-6 mr-right d-flex justify-content-center align-items-center"
             >
             <img src="../../../assets/images/party.png" alt="" />
          </div>
       </div>
    </div>
 </ng-template>
     </ngb-carousel>
  </div>
</section>
<section class="feature-scroll mb-5 pb-5">
  <div class="container">
     <ngb-carousel *ngIf="images" [interval]="3600">
     <ng-template ngbSlide>
        <div class="row slide-set">
           <div class="col-4 ss-col">
              <div class="fm-item">
                 <img src="../../../assets/images/f-img1.png" alt="" />
                 <h2>Become a<br />Delivery Hero</h2>
                 <p>
                    Be your own boss and make some extra cash by becoming a delivery
                    driver with Pumpkin Kart Register today.
                 </p>
                 <button class="btn-link">Register now</button>
              </div>
           </div>
           <div class="col-4 ss-col">
              <div class="fm-item">
                 <img src="../../../assets/images/f-img2.png" alt="" />
                 <h2>Become our<br />Merchant Partner</h2>
                 <p>
                    Be your own boss and make some extra cash by becoming a delivery
                    driver with Pumpkin Kart Register today.
                 </p>
                 <button class="btn-link">Register now</button>
              </div>
           </div>
           <div class="col-4 ss-col">
              <div class="fm-item">
                 <img src="../../../assets/images/f-img3.png" alt="" />
                 <h2>Become an<br />Affiliate</h2>
                 <p>
                    Be your own boss and make some extra cash by becoming a delivery
                    driver with Pumpkin Kart Register today.
                 </p>
                 <button class="btn-link">Register now</button>
              </div>
           </div>
        </div>
     </ng-template>
     </ngb-carousel>
  </div>
</section>
<section class="app-download mb-5">
  <div class="container-fluid">
     <div class="row ad-row">
        <div class="col-md-6 ad-left">
           <img src="../../../assets/images/mobile.png" alt="" />
        </div>
        <div class="col-md-6 ad-right d-flex flex-column justify-content-center">
           <h2>Download our<br />Mobile App</h2>
           <p>
              Ethnic Experience is just a click away. Order your favourite food,
              grocery, alcohol and more.
           </p>
           <div class="w-100 d-flex sd-buttons justify-content-start">
              <a href="https://play.google.com/store/apps/details?id=com.pumpkinkart.user">
              <img
                 src="../../../assets/images/gplay.png"
                 alt=""
                 class="mr-2 d-icons"
                 /></a>
              <a href="https://apps.apple.com/us/app/pumpkin-kart/id1513361432"
                 ><img
                 src="../../../assets/images/ios.png"
                 alt=""
                 class="mr-2 d-icons"
                 /></a>
           </div>
        </div>
     </div>
  </div>
</section>
<section class="aseenon-scroll mb-5 pb-5">
  <div class="container">
     <h2 class="section-title mb-5">As seen on</h2>
     <ngb-carousel *ngIf="images" [interval]="3300">
     <ng-template ngbSlide>
        <div class="row slide-set">
           <div class="col-4 as-col">
              <div class="fm-item text-center">
                 <p>
                    <span class="qt">"</span>The team at Pumpkin Kart aims to make hard-to-access items available to customers through its availability of long-distance delivery.<span class="qt-r">"</span>
                 </p>
                 <a href="https://latamstartups.org/news/5-canadian-companies-led-by-newcomer-entrepreneurs-join-latam-startups-new-accelerator-program/ " target="_blank"><img
                    src="../../../assets/images/LatAm.jpg"
                    alt=""
                    class="lat-logo"
                    /></a>
              </div>
           </div>
           <div class="col-4 as-col">
              <div class="fm-item text-center">
                 <p>
                    <span class="qt">"</span>Pumpkin Kart is a mobile application for on-demand food, stationery, alcohol, and grocery delivery service<span class="qt-r">"</span>
                 </p>
                 <a href=" https://startupill.com/101-fastest-growing-canadian-startups-to-invest-in-founded-in-2020/" target="_blank"><img src="../../../assets/images/Startup-Pill.jpg" class="start-logo" alt="" /></a>
              </div>
           </div>
           <div class="col-4 as-col">
              <div class="fm-item text-center">
                 <p>
                    <span class="qt">"</span>Collision has revealed the 28 Canadian startups that are shortlisted for its PITCH competition<span class="qt-r">"</span>
                 </p>
                 <a href=" https://startupill.com/101-fastest-growing-canadian-startups-to-invest-in-founded-in-2020/" target="_blank"><img src="../../../assets/images/Betakit_FullColour_Logo_Web_505px.png" class="bet-logo" alt="" /></a>
              </div>
           </div>
        </div>
     </ng-template>
     <ng-template ngbSlide>
      <div class="row slide-set">
         <div class="col-4 as-col">
            <div class="fm-item text-center">
               <p>
                  <span class="qt">"</span>Pumpkin Kart is on a mission to make ethnic food and grocery delivery accessible, high-quality, and fairly priced.<span class="qt-r">"</span>
               </p>
               <a href="https://www.frontfundr.com/pumpkinkart " target="_blank"><img
                  src="../../../assets/images/FrontFundr.jpg"
                  alt=""
                  class="trn-logo"
                  /></a>
            </div>
         </div>
         <div class="col-4 as-col">
            <div class="fm-item text-center">
               <p>
                  <span class="qt">"</span>Pumpkin Kart secures funding and strategic partnership with Tangentia Ventures<span class="qt-r">"</span>
               </p>
               <a href="https://www.prweb.com/releases/pumpkin_kart_secures_funding_and_strategic_partnership_with_tangentia_ventures/prweb18269565.htm"><img src="../../../assets/images/PR-Web.jpg" class="tc-logo" alt="" /></a>
            </div>
         </div>
         <div class="col-4 as-col">
            <div class="fm-item text-center">
               <p>
                  <span class="qt">"</span>Pumpkin Kart is Toronto’s own, ethnic food and grocery delivery service currently catering to the South Asian and Middle-Eastern communities in Canada<span class="qt-r">"</span>
               </p>
               <a href="https://www.torontomu.ca/zone-learning/venture-zone-brampton/startups/" target="_blank"><img src="images/RVZ.jpg" class="ret-logo" alt=""><img
                  src="../../../assets/images/RVZ.jpg"
                  class="ret-logo"
                  alt=""
                  /></a>
            </div>
         </div>
      </div>
   </ng-template>
     </ngb-carousel>
  </div>
</section>