

$base-font-size: 16px;

// === COLORS ===
$bg-color:#ff5b13; 
$primary-color: #ff5b13;
$secondary-color: #21442c;
$dark-color:#0E0E0F;
$dark-color-two:#191919;
$text-color:#646D82;
$link-low: #01279c;
$blue-color: #1b87f7;
$error:#e3342f;
$black-color:#292929;
$border-color:#eaeaea;
$border-mild:rgba(230,230,230,0.48);







