/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "mixins";
@import "responsive";
@import "static";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Outfit', sans-serif;
// global
.btn-link{
    border: none;
    color: $primary-color;
    text-decoration: none;
    background: transparent;
    &:focus,&:focus-visible{
        outline: none;
    }
    &:hover{
        text-decoration: underline;
        color: $primary-color;
    }
}
// global END
//main banner
.banner-section,.carousel-section{
    .carousel-indicators {
        bottom: 50px;
        button{
        width: 12px;
        height: 12px;
        padding: 0;
        border-top: none;
        border-bottom: none;
        color: $primary-color;
        border-radius: 50%;
        background-color: #fff!important;
        opacity: 1;
        &.active{
            background-color: $primary-color!important;
            width: 26px;
            border-radius: 11px!important;
        }
        }
        
    }
    .carousel-control-prev-icon, .carousel-control-next-icon{
        width: 3rem;
        height: 3rem;
    }
    .carousel-control-prev{
        left: -31px;
    }
    .carousel-control-next{
        right: 0;
    }
}

}
.feature-scroll{
    
}


