/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "mixins";
@import "responsive";
@import "static";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    font-family: 'Outfit', sans-serif;
// global
.logo{
    cursor: pointer;
}
.btn-link{
    border: none;
    color: $primary-color;
    text-decoration: none;
    background: transparent;
    &:focus,&:focus-visible{
        outline: none;
    }
    &:hover{
        text-decoration: underline;
        color: $primary-color;
    }
}
a{
    img{
        @include transitionmd
    }
    text-decoration: none;
    &:hover{
        img{
            opacity: .8;
        }
    }
    
}
button{
    outline: none;
    &:focus, &:focus-visible{
        outline: none;

    }
}
.list-content{
    li{
        margin-bottom: 20px;
        list-style: none;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 7px;
            left: -30px;
            width: 12px;
            height: 12px;
            @include radius(50%);
            background:transparentize($primary-color,.4);
        }
    }
}
.aut-sep{
    position: relative;
    border-bottom: solid 1px #ccc;
    width: 100%;
    display: flex;
    justify-content: center;
    span{
        position: absolute;
        display: inline-block;
        background-color: #fff;
        min-width: 70px;
        text-align: center;
        top: -13px;
        font-size: 19px;
        color: $dark-color-three;
    }
}
// button hover
.cancel{
    color: $primary-color;
    &:hover{
        background-color:$primary-color;
        color: #fff; 
    }
}
.btn-prim{
   color: #fff;
   background-color: $primary-color;
   @include box-shadow(0px 2px 6px 0px rgba(0,0,0,0.22));
   &:hover{
       background-color:transparentize($primary-color,0.2)!important;
   }
}
// button hover END
.page-title{
    font-size: 44px;
    font-weight: 900;
}
.details{
    p{
        padding-bottom: 24px;
    }
}
.form-check-input[type=checkbox]{
    @include radius(2px);
}
.form-check-input{
    border-color: $primary-color;
    &:checked{
        background-color: $primary-color;
        border-color: $primary-color;
    }
    &:focus{
        box-shadow: none;
    }
}
.error{
    padding: 2px 0 0;
    font-size: 13px;
    color: #dc0c0c;
}
.error-block{
    background-color: #ffe4e4;
    padding: 10px;
    min-height: 70px;
    width: 100%;
    @include radius(5px);
    border: solid 1px #ffd0d0;
    margin: 5px 0 28px;
    color: #d11515;
     font-size: 15px;
}
.thm-toast{
    position: fixed;
    right: 15px;
    top: 15px;
    color: #fff;
    &.succes-toast{
        background-color: #4bad6d;
    }
    &.fail-toast{
        background-color: #d06f5f;
    }  
}
.carousel-control-prev,.carousel-control-next{
    z-index: 9999999;
}
// global END
//main banner
.banner-section,.carousel-section,.feature-scroll,.aseenon-scroll{
    .carousel-indicators {
        bottom: 50px;
        button{
        width: 12px;
        height: 12px;
        padding: 0;
        border-top: none;
        border-bottom: none;
        color: $primary-color;
        border-radius: 50%;
        background-color: #fff!important;
        opacity: 1;
        &.active{
            background-color: $primary-color!important;
            width: 26px;
            border-radius: 11px!important;
        }
        }
        
    }
    .carousel-control-prev-icon, .carousel-control-next-icon{
        width: 3rem;
        height: 3rem;
    }
    .carousel-control-prev{
        left: -31px;
    }
    .carousel-control-next{
        right: 0;
    }
}


.carousel-section,.feature-scroll,.aseenon-scroll{
    .carousel-indicators{
        button{
            background-color: #DFE0E2!important;
        }
        display: flex;
        justify-content: flex-start;
        margin: 0;
        bottom: 58px;
    }
}
.feature-scroll,.aseenon-scroll{
    .ss-col{
        h2{
            font-weight: 800;
        }
        img{
            width: calc(100% - 50px);
            margin-bottom: 28px;
        }
        .fm-item{
            padding: 0 30px;
            text-align: center;
        }
        .btn-link{
            font-size: rem(21px);
        }
    }
    .carousel-indicators{
        bottom: -25px!important;
        justify-content: center!important;
    }
}
.section-title{
    font-size: 52px;
    font-weight: bold;
    color: $dark-color;
}
.qt,.qt-r{
    font-size: 31px;
    color: #000;
    font-weight: 900;
    padding: 0 7px;
    transform: skew(10deg, 10deg);
    display: inline-block;
}
.qt-r{
    transform: skew(336deg, 357deg) !important;
    position: absolute;
    bottom: -22px;
}
.aseenon-scroll{
    .fm-item{
        padding: 0 20px;
        p{
            color: #767676;
            font-size: rem(20px);
            position: relative;
        }
        img{
            width: 200px;
            max-width: 100%;
            &.trn-logo{
                width: 244px;
                margin-top: 20px;
            }
            &.tc-logo{
                width: 166px;
                margin-top: 42px;
            }
            &.ret-logo{
                width: 194px;
                margin-top: 3px;
            }
            &.lat-logo{
                width: 164px;
                margin-top: 15px;
            }
            &.start-logo{
                width: 200px;
                margin-top: 37px;
            }
            &.bet-logo{
                width: 200px;
                margin-top: 55px;
            }
            
            
        }
    }
}

// inner pages
.inner-banner {
    img{
        width: 100%;
        max-width: 100%;
    }
    .container{
        color: #fff;
        h1{
            font-size: rem(66px);
        }
        .bread-crump{
            font-size: 20px;
            font-weight: bold;
            .active{
                font-weight: normal;
            }
            a{
                color: #fff;
                text-decoration: none;
                &:hover{
                    color: #fff;
                    opacity: .8;
                }
            }
        }
    }
}
.page-content{
    p{
        color: #767676;
        font-size: 1.25rem;
        line-height: rem(32px);
    }
}

// Login page
.auth-container{
    .list-content{
        padding-right: 20px;
    }
    .auth-box{
        padding: 20px;
        @include radius(10px);
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,.09);
        padding: 48px;
        h2{
            font-weight: 700;
            margin-bottom: 20px;
            font-size: 30px;
        }
        .thm-fcontrol{
            border: solid #d7d7d7 1px;
            height: 48px;
            @include radius(5px);
            padding:12px 18px;
            &::placeholder{
                color: #cbcbcb;
            }
            &:focus{
                box-shadow: 0 0 0 0.25rem rgba(255, 233, 225,1);
            }

        }
        select{
            &.thm-fcontrol{
                color: transparentize( $dark-color-three, .5);
            }
            
        }
    }
    button{
        padding: 5px 20px;
        height: 43px;
        font-weight: 500;
        font-size: 18px;
        min-width: 130px;
        @include radius(7px);
        &.cancel{
            border: solid 1px $primary-color;
        }
        &.btn-prim{
            background: $bg-color;
            border: solid 1px $primary-color;
            color: #fff;
            
        }
    }
}

.auth-container{
    padding: 122px 0 20px;
    .auth-content{
        padding: 0 108px 0 55px;
        .sub-title{
            font-weight: 700;
            font-size: 28px;
        }
        .soc-title{
            font-size: 18px;
            color: $dark-color-three;
            a{
                color: $primary-color;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .auth-form{
            .inline-select{
                select{
                    padding: 5px!important;
                    width: 55px;
                    @include radius(5px 0 0 5px);
                    color:#ccc;
            
                }
                input{
                    @include radius(0 5px 5px 0);
                }
            }
        }
    }
    //
    .btfacebook{
        background-color: #3b5999;
    }
    .btgoogle{
        background-color: #dd4b39;
    }
    .sbtn{
        min-width: 200px;
        padding: 5px;
        border: none;
        @include transitionmd;
        font-weight:normal;
        color: #fff;
        font-size: 15px;
        &.btgoogle{
            img{
                position: relative;
                bottom: 1px;
            }
        }
        img{
            width: 20px;
            margin-right: 2px;
        }
        &:hover{
            opacity: .7;
        }
        &:focus,&:focus-visible{
            outline: none;
        }
    }
}

// Login page END


// Home
.banner-section,.carousel-section{
    background: #fff;
    .carousel-indicators button{
        width: 12px;
        height: 12px;
        padding: 0;
        border-top: none;
        border-bottom: none;
        color: $primary-color;
        border-radius: 50%;
        &.active{
            background-color: $primary-color;
            width: 26px;
            border-radius: 11px!important;
        }
    }

}
.m-row{
    h2{
        font-weight: bold;
        color: $dark-color;
        font-size: rem(24px);
    }
    p{
        color: #767676;
        font-size: rem(20px);
        padding-right: 112px;
    }
    .mr-right{
        img{
            max-width: 695px;
        }
    }
}

.Banner-caption{
    color: #fff;
    z-index: 9999;
    font-size:rem(56px);
    top: calc(50% - 100px);
    width: 100%;
    font-weight: 600;
    height: 200px;
    .container{
        line-height: 60px;
    }
}
// intro button
.intro-btn{
    padding: 5px 44px;
    height: 52px;
    border: none;
    color: #fff;
    font-size: 17px;
    @include radius(35px);
    background-color: $primary-color;
    align-items: center;
    @include transition;
    background-color: transparentize($primary-color, 0);
    margin-top: 34px;
    &:hover,&:focus,&:focus-visible{
        outline: none;
        background-color: transparentize($primary-color, .3);
        padding: 5px 50px;
        
    }
}
.feature-scroll{
    .fm-item{
        h2{
            font-weight: bold;
            color: $dark-color;
            font-size: rem(24px);
            margin-bottom: 15px;
        }
        p{
            color: #767676;
            font-size: rem(20px);
        }
    }
    
}
.app-download{
    .container-fluid{
        padding-left: 0!important;
    }
    .ad-left{
        img{
            max-width: 100%;
        }
    }
    p{
            max-width: 548px;
            color: #767676;
            font-size: rem(20px);
            line-height: rem(26px);
            margin-bottom: rem(36px);
    }
    h2{
        color: $dark-color;
        font-size: rem(52px);
        font-weight: bold;
        line-height: rem(66px);
        margin-bottom: rem(30px);
    }
}
.d-icons{
    width: 100%;
    max-width: 205px;
    height: fit-content;
    margin-right: 32px;
}
.carousel-section,.seenon-scroll,.feature-scroll{
    .carousel-control-prev,.carousel-control-next{
        display: none;
    }
}

.feature-scroll{
    .carousel-indicators{
        display: none;
    }
}
// Home END
// contact
.fs-left{
    img{
        width: 100%;
    }
}
.login-form{
    .fs-left{
        img{
            max-width: 460px;
        }
    }
    .fs-right{
        padding: 0 55px;
    }
}
.page-form{
     .soc-title {
        font-size: 18px;
        color: #241B17;
    }
    .f-password{
        font-size: 16px;
    }
    .soc-top{
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .soc-bottom{
        margin-top: 30px;
        margin-bottom: 18px;
    }
    .btfacebook{
        background-color: #3B5999;
        img{
            width: 10px;
        }
    }
    .btgoogle{
        background-color: #E9544F;
        img{
            width: 18px;
        }
    }
    .btlink{
        background-color: #0A66C2;
        img{
            width: 16px;
            position: relative;
            bottom: 3px;
        }
    }
    .sbtn{
        min-width: 100px;
        padding: 5px;
        border: none;
        @include transitionmd;
        @include radius(8px);
        height: 42px;
        font-weight:normal;
        color: #fff;
        font-size: 15px;
        &.btgoogle{
            img{
                position: relative;
                bottom: 1px;
            }
        }
        img{
            margin-right: 2px;
        }
        &:hover{
            opacity: .7;
        }
        &:focus,&:focus-visible{
            outline: none;
        }
    }
    a{
        color:$primary-color;
        &:hover{
            opacity: .7;
        }
    }
    .btn-submit{
        color: #fff;
        background-color: $dark-color-two;
        padding: 10px 12px;
        border: solid 1px $dark-color-two;
        @include transition;
        &:hover{
            opacity: .8;
        }
    }
    
    .thm-fcontrol{
        height: 45px;
        border: solid 1px #F7F7F7;
        background-color: #F7F7F7;
        @include radius(3px);
        @include transition;
        &::placeholder{
            color: transparentize( $dark-color-three, .5);
        }
        &:focus{
            box-shadow: 0 0 0 0.25rem rgba(255, 233, 225,1);
        }
    }
    select{
        &.thm-fcontrol{
            color: transparentize( $dark-color-three, .5);
        }
        
    }
    .inline-select{
        select{
            width: 65px;
            @include radius(3px 0 0 3px);
            border-right: solid 3px #f1f1f1;
        }
    }
    .form-label{
        color: $dark-color-three;
    }
    h2{
        font-weight: bold;
        font-size: 24px;
        color: $dark-color-three;
        margin-bottom: 15px;

    }

}
//contact END
// About us

.mp-para{
    text-align: center;
    padding: 0 120px;
    &.text-left{
        text-align: left;
    }
}
// team
.card-shadow{
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.07);
    border-radius: 5px;
    @include radius(5px);
}

.team-item{
    .t-item{
        padding: 18px;
        @include transition;
        height:100%;
        &:hover{
            box-shadow: none!important;
            background-color: #fff2ec;
        }
        img{
            @include radius(50%);
            width: 165px;
            height: 165px;
            object-fit: cover;
            margin-bottom: 18px;
            border: solid 1px #eee;
        }
        h2{
            font-size: 28px;
            text-align: center;
            font-weight: bold;
            color: $dark-color;
        }
        h4{
            color:$primary-color;
            font-size: 20px;

        }
        p{
            font-size: 15px;
            line-height: 26px;

        }
    }
}
// About us END
// News
.news-row{
    border-top: solid 1px #e6e6e6;
    padding-top: 28px;
    .news-img{
        img{
            width: 100%;
        }
    }
    .news-details{
        .n-title{
            font-size:rem(22px);
            color: $primary-color;
        }
        .n-caption{
            color:$dark-color-three ;
            font-weight: bold;
            font-size: rem(25px);
            a{
                color:$dark-color-three ;
                text-decoration: none;
                &:hover{
                    color:$dark-color-three ;
                    opacity: .7;
                }
             }
        }
    }
}



}//body END