<section class="page-content mt-5 pt-5">
    <div class="container mb-5">
       <div class="page-title text-center mb-5">About Us</div>
       <p class="mp-para text-left">Pumpkin Kart is an exclusive delivery service with a mobile app for ethnic food, grocery, alcohol, and more. We strive to make ethnic products accessible, high-quality, and fairly priced. Our platform serves as a one-stop shop for all your ethnic needs with the convenience of long-distance delivery, and a variety of the best in the city, all while delivering to you the flavors of home.</p>
       <div class="row slide-set my-5 py-4">
           <div class="col-12 ss-col">
              <div class="fm-item mp-para text-left">
                 
                 <h2>Our Mission

                 </h2>
                 <p class="">To connect ethnic communities to their cultural needs and bring ethnic businesses to the mainstream by providing an online platform.
                 </p>
                
              </div>
           </div>
           <div class="col-12 ss-col">
              <div class="fm-item mp-para text-left">
                
                 <h2>Our Vision
                 </h2>
                 <p class="">To become a leading Global Ethnic Marketplace.
              </div>
           </div>
           <div class="col-12 ss-col">
              <div class="fm-item mp-para text-left">
                
                 <h2>Our Core Values
               </h2>
               <p class="">Convenience. Commitment. Diversity.</p>
                 
              </div>
           </div>
        </div>
   </div>
    <div class="container mb-5 pb-5">
       <div class="page-title text-center mb-5">Our Team</div>
       <div class="row team-row d-flex justify-content-center">
          <div class="col-md-4 team-item mb-4">
             <div class="t-item d-flex flex-column
                align-items-center card-shadow">
                <img src="../../assets/images/Philip.jpg" alt="" />
                <h2>Philip Correya</h2>
                <h4>CEO & Cofounder</h4>
                <p class="text-center">A creative think-tank and a visionary leader with more than 8 years of experience in the Tech and Food Industry. He is a people person who brings expertise in sales, brand collaborations, team building, and fundraising. He has trained more than 1500+ students across South India on Windows App Development and has judged hackathons. Philip holds a Bachelors in IT from Anna University and a PG Diploma in Business Analytics from George Brown College. He wants to inspire and help more international students, immigrants, and people of colour to pursue entrepreneurship.</p>
             </div>
          </div>
          <div class="col-md-4 team-item mb-4">
             <div class="t-item d-flex flex-column
                align-items-center card-shadow">
                <img src="../../assets/images/Visal.jpg" alt="" />
                <h2>Visal Varghese</h2>
                <h4>CTO & Cofounder</h4>
                <p class="text-center">A seasoned technical professional with more than 8 years of experience in IT. He is an expert in Android Development, PHP, iOS and Infrastructure, Java, AWS & Trending Technologies like Docker and CI/CD. He is a graduate of Anna University Chennai, where he received a Bachelor of Technology in Information Technology. Visal has also served many service providers to give automation testing services in different real-time enterprise projects. With a diverse skill set and the hunger to achieve something big, Visal cofounded Pumpkin Kart and leads its tech team as the CTO.
                </p>
             </div>
          </div>
          <div class="col-md-4 team-item mb-4">
             <div class="t-item d-flex flex-column
                align-items-center card-shadow">
                <img src="../../assets/images/Sanila.jpg" alt="" />
                <h2>Sanila Sebastian</h2>
                <h4>CMO & Cofounder</h4>
                <p class="text-center">A creative designer and a diligent leader with 5+ years of experience in designing and marketing. She graduated with a Bachelor’s in Electronics and Communication Engineering from Visvesvaraya Technological University, Belgaum. With her inclination to creative arts, she pivoted to Graphic Designing and worked with more than 10 companies on contract. She is also experienced in Social Media Management and Digital Marketing. Currently, Sanila heads the Marketing at Pumpkin Kart and oversees the Product Design. She wants to inspire more women to pursue entrepreneurship and is striving to become a leading woman entrepreneur young girls can look up to.</p>
             </div>
          </div>
          <div class="col-md-4 team-item mb-4">
             <div class="t-item d-flex flex-column
                align-items-center card-shadow">
                <img src="../../assets/images/Kula.jpg" alt="" />
                <h2>Kula Sellathura</h2>
                <h4>Investor & Director</h4>
                <p class="text-center">Kula is an entrepreneur, award-winning published author, business community leader, and certified business coach. He is driven by the need to give back to the community and that has been the foundation for his philanthropic initiatives. He believes that the true essence of a good leader is to be able to empower others to become leaders themselves. This goal is accomplished through his motivation and coaching techniques that have been developed over a lifetime of promoting growth. Kula values the importance of investing time to understand clients, employees, and business partners to ensure mutually benefiting experiences for everyone involved. He strives to transform conventional problem-solving approaches to effectively address issues with innovative solutions.</p>
             </div>
          </div>
          <div class="col-md-4 team-item mb-4">
             <div class="t-item d-flex flex-column
                align-items-center card-shadow">
                <img src="../../assets/images/Vijay.jpg" alt="" />
                <h2>Vijay Thomas</h2>
                <h4>Investor & Director</h4>
                <p class="text-center">Vijay is the Founder & CEO of Tangentia, a leading global digital transformation company. He also founded Tangentia Ventures which has invested in a diverse portfolio of companies globally including FOHO - a leading blockchain-based fractional property platform, Clean Planet - a leading Made in Canada fashion manufacturer, Pumpkin Kart - an ethnic food delivery platform, and many others. Born and raised in Goa, India, he now calls Toronto, Canada home. He has a B.Eng in Mechanical Engineering from Karnatak University and an MBA from Goa Institute of Management. He is active in multiple local and global business organizations including being the founding treasurer of the Willowdale BIA, Board member of TiE Toronto and he was the 32nd president of the Indo-Canada Chamber of Commerce (ICCC).
                </p>
             </div>
          </div>
       </div>
    </div>
 </section>